/* src/App.css */

/* Ogólne style dla jasnego motywu */
body.light {
  background-color: #f0f2f5; /* Jasne tło dla jasnego motywu */
  color: #333;
}

body.dark {
  background-color: #121212; /* Ciemne tło dla ciemnego motywu */
  color: #e0e0e0;
}

/* Style dla paska aplikacji */
.app-bar.light {
  background-color: #ffffff;
  color: #000000;
}

.app-bar.dark {
  background-color: #1f1f1f; /* Ciemniejsze tło paska aplikacji */
  color: #ffffff;
}

/* Style dla kontenera */
.container.light {
  background-color: #ffffff; /* Jasne tło dla kontenera */
  color: #333333;
}

.container.dark {
  background-color: #1e1e1e; /* Ciemne tło dla kontenera */
  color: #e0e0e0;
}

/* Style dla kart i innych elementów */
.card.light {
  background-color: #ffffff; /* Jasne tło dla kart */
  color: #333333;
}

.card.dark {
  background-color: #2c2c2c; /* Ciemniejsze tło dla kart */
  color: #e0e0e0;
}

/* Style dla przycisków */
button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

/* Style dla komunikatów i list */
.products li {
  background-color: #ffffff; /* Jasne tło dla elementów listy */
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.products li.dark {
  background-color: #2c2c2c; /* Ciemniejsze tło dla elementów listy */
  color: #e0e0e0;
}

/* Additional styles */
